//- content structure
#content
    include ../preloadermodule/preloaderdemo.pug
    include ../outputmodule/output.pug
    include ../inputmodule/input.pug
    include ../optionsmodule/options.pug    
