include ../settingsmodule/setting-mixins.pug

+settings-page("account", "Account")
    include ../accountsettingsmodule/accountsettings.pug
+settings-page("secretmanager", "Secret Manager")
    include ../secretmanagersettingsmodule/secretmanagersettings.pug
+settings-page("datamanager", "Data Manager")
    include ../datamanagersettingsmodule/datamanagersettings.pug
+settings-page("backend", "Backend Server")
    include ../backendsettingsmodule/backendsettings.pug

