include ../settingsmodule/setting-mixins.pug

+settings-group("Account Settings")
    +settings-entry("account", "Account", "#svg-account-icon")
    +settings-entry("secretmanager", "Secret Manager", "#svg-key-shield-icon")
    //- +settings-button("datamanager", "Data Manager", "#svg-data-icon")

+settings-group("Backend Settings")    
    +settings-entry("backend", "Backend Server", "#svg-server-icon")