//- hidden content
include ../svgiconsmodule/svgicons.pug
include ../qrdisplaymodule/qrdisplay.pug
include ../messageboxmodule/messagebox.pug
include ../qrreadermodule/qrreader.pug
include ../settings/allsettingspages.pug

//- real content 
include ../header/header.pug
include ../settingsmodule/settingsandcontent.pug
