include ../svgiconsmodule/svgicons.pug
//- include ../settingsmodule/allsettingspages.pug
//- include ../settingsmodule/settingsoff.pug
//- include ../qrdisplaymodule/qrdisplay.pug
//- include ../messageboxmodule/messagebox.pug
//- include ../qrreadermodule/qrreader.pug

#mainframe
    //- header: include ../headermodule/header.pug
    main: include components/main.pug