input#data-manager-input(type="text")
#data-manager-works-indicator Server is ready
#data-manager-button-container
    #data-manager-ok-button.click-button okay
    #data-manager-reset-button.click-button reset
p#data-manager-explaination-text This is the Server used to store relevant data online - it must be compatible with the Data Manager API.<br><br><link-to-API-doc>
