// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-foreground = #4AF626
cd-flash = #4AF626
cd-background = black

/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
html
    height 100%

body
    position relative
    background-color cd-background
    color cd-foreground
    font-size: 12pt
    height 100%
    width 100%
    overflow hidden

h1
    font-size: 17pt
h2
    font-size: 15pt
p
    font-size: 12pt


input
    background-color: alpha(green, 0.2)
    width 100%
    box-sizing: border-box
    color cd-flash
    font-size: 17pt
