extends ../../settingspage-base.pug

block title 
    | Signalling Server

block content
    input#signalling-server-input(type="text")
    #signalling-server-works-indicator Server is ready
    #signalling-server-button-container
        #signalling-server-ok-button.click-button okay
        #signalling-server-reset-button.click-button reset
    p#signalling-server-explaination-text This is the Server used that both ends would know eachother - it must be compatible with our API.<br><br><link-to-API-doc>

