select#secretmanager-options
    option Muahahah 
    option ddada
//- input#secret-manager-input.is-invalid(type="text" placeholder="Add new url here.")
#secretmanager-works-indicator Server is ready
#secretmanager-button-container
    button#secretmanager-ok-button.click-button okay
    button#secretmanager-delete-button.click-button add
    button#secretmanager-delete-button.click-button delete
    button#secretmanager-reset-button.click-button reset
p#secretmanager-explaination-text This is the Server used that to retrieve and pass on secrets - thus is essential for all the authentication for your account - it must be compatible with the Secret Manager API.<br><br><link-to-API-doc>