#secret-manager-input
    width 100%
    padding 7px
    box-sizing: border-box
    border none
    overflow hidden
    text-overflow: ellipsis
    border solid 3px rgb(69, 212, 69)

#secret-manager-input:focus
    width 100%
    background-color white

#secret-manager-works-indicator
    color rgb(69, 212, 69)
    text-align left
    margin-top 10px
    margin-bottom 30px


#secret-manager-button-container
    display: flex
    justify-content: space-between
    margin-bottom 30px

    .click-button
        background-color grey
        font-weight bold
        min-width 120px
        padding 10px
        border-radius: 3px



#secret-manager-explaination-text
    text-align: left