extends ../../settingspage-base.pug

block title 
    | Secret Manager

block content
    input#secret-manager-input(type="text")
    #secret-manager-works-indicator Server is ready
    #secret-manager-button-container
        #secret-manager-ok-button.click-button okay
        #secret-manager-reset-button.click-button reset
    p#secret-manager-explaination-text This is the Server used that to retrieve and pass on secrets - thus is essential for all the authentication for your account - it must be compatible with the Secret Manager API.<br><br><link-to-API-doc>

