#settingspage-account(): include settingspages/account/account.pug
#settingspage-secret-manager(): include settingspages/secretmanager/secretmanager.pug
#settingspage-data-manager(): include settingspages/datamanager/datamanager.pug
#settingspage-signallingserver(): include settingspages/signallingserver/signallingserver.pug
#settingspage-turnserver(): include settingspages/turnserver/turnserver.pug

