// header styles
header
    position: fixed
    width 100%
    height 35px

#head-text
    position fixed
    top 20px
    left 30px
    font-size: 15pt
    transition transform 0.3s

#settings-text
    position fixed
    top 20px
    left 65px
    font-size: 20px
    font-weight: bold
    color cd-background
    transition transform 0.3s
    transform translateX(100vw)

#settings-button
    position: fixed
    top 0
    right 0
    width 60px
    height 60px
    padding 15px
    box-sizing: border-box
    transition transform 0.3s
    svg
        width: 30px
        height 30px

body.settings
    #settings-button
        color cd-background
        transform: translateX(-100vw) translateX(+100%) translateX(+15px)    
    #settings-text
        transform translateX(0)
    #head-text
        transform translateX(-300px)