#main
    position fixed
    bottom 0
    left 5px
    height calc(100% - 60px)
    width calc(100% - 5px)
    overflow hidden
    z-index 99
    transition: background-color 0.3s
    background-color white


body.settings
    #main
       background-color cd-background
