.settingspage
    //- .settingspage-right
    .settingspage-top
        .settingspage-title: block title
        .settingspage-backbutton.click-button: svg: use(href="#svg-chevron-left-icon")
    .settingspage-content: block content
