//- settings structure
#settings
    .grouping-head Account Settings
    .settings-group
        #settingsbutton-account.settings-entry.click-button.icon-entry
            .icon: svg: use(href="#svg-account-icon")
            .text Account
            .arrow: svg: use(href="#svg-chevron-right-icon") 
        #settingsbutton-secret-manager.settings-entry.click-button.icon-entry
            .icon: svg: use(href="#svg-key-shield-icon")
            .text Secret Manager
            .arrow: svg: use(href="#svg-chevron-right-icon") 
        #settingsbutton-data-manager.settings-entry.click-button.icon-entry
            .icon: svg: use(href="#svg-data-icon")
            .text Data Manager
            .arrow: svg: use(href="#svg-chevron-right-icon")
    
    .grouping-head Communicaion Server Settings
    .settings-group
        #settingsbutton-signallingserver.settings-entry.click-button.icon-entry
            .icon: svg: use(href="#svg-signal-icon")
            .text Signalling Server
            .arrow: svg: use(href="#svg-chevron-right-icon") 
        #settingsbutton-turnserver.settings-entry.click-button.icon-entry 
            .icon: svg: use(href="#svg-stun-icon") 
            .text STUN/TURN Server
            .arrow: svg: use(href="#svg-chevron-right-icon")

